.profile {
    margin: auto;
    padding: 25px;
     border: 1px solid gray;
}

.description {
    text-align: center;
}

.avatar {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.name {
    font-weight: 700;
    color: #000;
}

.tag , .location {
    font-weight: 400;
    color: rgba(128, 128, 128, 0.753);
}

.stats {
    display: flex;
    justify-content: space-between;
    list-style: none;
}