.profile {
    width: 600px;
    margin: auto;
     border: 1px solid gray;
}

.description {
    text-align: center;
}

.avatar {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.name {
    font-weight: 700;
    color: #000;
}

.tag , .location {
    font-weight: 400;
    color: rgba(128, 128, 128, 0.753);
}

.stats {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.stats > li {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.534);
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.label , .quantity {
    font-size: 24px;
}