.statistics {
  margin: auto;
  border: 1px solid #000;
  width: 600px;
  margin-top: 20px;
  border-radius: 5px;
}

.title {
  text-align: center;
}

.stat_list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.item {
  border: 1px solid rgba(128, 128, 128, 0.582);
  width: 100%;
  padding: 10px;
}

.label {
  margin: 0;
  margin-bottom: 10px;
}

.percentage {
  font-size: 25px;
  margin: 0;
}
